/* .rubik-wet-paint-regular {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
} */


/*! MOBILE DESIGN */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Sour Gummy';
    min-width: 375px;
}

.navbar  {
    background-color: orange;
}

.navOculto {
    background-color: orange;
}

/* Presentacion */


.presentacion {
    width: 90%;
    height: 10em;
    background-color: #f80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #000;
    box-sizing: content-box;
}
.presentacion p {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.botonesPresentacion {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.botonesPresentacion > button {
    border: none;
    border-radius: 10px;
    background-color: #f20;
    padding: 10px;
}

.botonesPresentacion a {
    color: #fff;
    border: none;
    text-decoration: none;
}
/* main section */

main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 25px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}


h3 {
    background-color: #fff;
    font-size: 1em;
    height: 100%;
    border-bottom: 1px solid #999;
    padding: 10px;
}



/* ofertas */

.articulos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
    box-sizing: border-box;
    gap: 10px;


}

.articulos  button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f20;
}

.articulos a {
    color: #fff;
    text-decoration: none;
}



.articulos > article {
    max-width: 150px;
    padding: 15px 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #f80;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    font-size: 12px;

}

img{
    width: 80px;
    height: 80px;
}

/* Seccion de articulos */

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

h3 {
    font-size: 18px;
}

#menu > article {
    width: 90vw;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;

}

#pizzas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    position: relative;

}

#pizzas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}


#empanadas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    position: relative;

}

#empanadas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#milanesas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#milanesas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#hamburguesas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

#hamburguesas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#tortillas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

#tortillas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#papas_fritas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

#papas_fritas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

#ensaladas > img  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;

}

#ensaladas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

a {
    color: #000;
}

/*! SECCIÓN DE RESEÑA */

.reseñas {
    margin-top: 80px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.reseñas > h3 {
    border: none;
    font-size: 25px;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 25px;
}


.res{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 10px 2fr 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    background: #000;
    padding: 10px;
}

.userPhoto {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    align-self: center;
    background-color: #00f;
}

.opinion{
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    place-items: center;
    font-size: 10px;
    padding: 2px;
    color: #fff;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.star{
    font-size: 20px;
    color: #f80;
}


/*! FOOTER */

footer {
    background-color: #f80;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 80px;
}

.footerTitle{
    background-color: #f80;
    border: none;
    font-size: 25px;
}

.aboutUs {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}



form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

form > button {
    height: 50px;
    border: none;
    background-color: #f20;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

input {
    height: 40px;
    outline: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    min-height: 100px;
    max-height: 150px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.logosRedes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

#creditos {
    font-size: 12px;
    text-align: center;
}

@media (min-width: 700px) and (max-width:1000px) {
    #menu > article {
        width: 70vw;
        height: 200px;
        border-radius: 10px;
        box-shadow: 1px 1px 15px black;

    }

    .reseñas {
        width: 70%;
        margin-top: 80px;
        display: grid;
        text-align: center;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .formContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    form {
        width: 80%;
    }
}

@media (min-width:1000px) {
    .mobileDesign {
        display: none;
    }
    .desktopDesign {
        display: flex;
        flex-direction: column;
    }

    /*! HEADER */
    .desktopHeader {
        width: 100%;
        height: max-content;
    }

    .desktopNav {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        height: 80px;
        justify-content: space-between;
        align-items: center;
        background-color: #f80;
    }

    .opcionesEscr__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 70%;
        margin: 0;
    }
    .carrito{
        padding: 20px;
    }

    /*! MAIN */
    .desktopMain{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 150px;
    }

    .somosDesktop {
        width: 80%;
        background-color: #f80;
        padding: 25px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

    }
    #somosTitulo{
        background-color: transparent;
        border: none;
        text-align: center;
        font-size: 35px;
    }

    .enlaces {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
        padding: 10px;
        font-size: 20px;
    }

    .enlaces a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        background-color: #f20;
        border-radius: 10px;
    }

    .desktopOfertas {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .desktopOfertas h3 {
        text-align: 25px;
    }
    .articulosDesktop{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 55px;
        height: max-content;
        justify-content: center;
    }
    .articulosDesktop article {
        display: flex;
        width: 150px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: #f80;
        border-radius: 10px;
        padding: 15px;
        align-items: center;
    }

    .articulosDesktop button {
        background-color: #f20;
        border: none;
        
    }

    .articulosDesktop a {
        color: #fff;
        text-decoration: none;
    }

    .desktopMenu {
        width: 100%;
        height: max-content;
        align-items: center;
        display: flex;
        padding: 50px;
        background-color: #f80;
        gap: 20px;
        flex-direction: column;
    }

    .desktopMenu div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .desktopMenu article {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0 0 5px black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .desktopMenu a {
        width: 400px;
        height: 250px;
        position: relative;
        margin-top: 20px;
    }

    .desktopMenu  img {
        width: 398px;
        height: 250px;
        border-radius: 10px;
    }

    .desktopMenu h6 {
        text-align: center;
        font-size: 20px;

    }

    .desktopUbicacion {
        width: 100%;
        background-color: #f80;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .desktopFooter {
        background-color: #f80;
        height: max-content;
        display: flex;
        flex-direction: column;
    }


    .contacto_info {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .contacto_info div {
        width: 50%;
    }
    
    .redesD {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        justify-content: center;
        font-size: 20px;
    }
    
    #ubicacionDesktop {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}